.Card {
  display: flexbox;
  max-width: 300px;
  min-height: 400px;
  padding: 20px;
  -webkit-box-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px,
    red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px,
    red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  background: papayawhip;
  border-radius: 8px;
  border: 10px solid black;
  margin: 20px;
  position: relative;
}

.imgContainer {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

.bookmark {
  height: 40px;
  border-left: 20px solid steelblue;
  border-right: 20px solid steelblue;
  border-bottom: 20px solid transparent;
  background: papayawhip;
  position: absolute;
  top: -15px;
  right: 20px;
}

.bookmark.active {
  border-left: 20px solid brown;
  border-right: 20px solid brown;
}
